body, html {
    height: 100%;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remover margens padrão */
    background: linear-gradient(to bottom, #4A264A, #40e6cc, #2e004d);
}

/* Adicionando estilos para o ícone no canto superior esquerdo */
.icon-left-top {
    position: fixed; /* Torna o ícone fixo na página */
    top: 10px; /* Define a distância do topo da página */
    left: 860px; /* Define a distância da borda esquerda da página */
}

.icon-left-top img {
    width: 200px; /* Ajuste o tamanho do ícone conforme necessário */
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color:transparent; /* Cor de fundo do container */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
    color: #ffffff; /* Cor do texto */
    animation: fadeIn 1s ease forwards;
}

input, button {
    width: 100%; /* Ocupar toda a largura do container */
    padding: 12px; /* Aumentar o preenchimento */
    margin-bottom: 15px;
    box-sizing: border-box;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.5s;
    border: 1px solid #dddddd; /* Adicionar borda */
}

button {
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.1s ease;
}

button:hover {
    background-color: #0056b3;
}

.back-to-login-btn {
    background-color: #4900da; /* Cor de fundo */
    color: rgb(0, 0, 0); /* Cor do texto */
    border: none; /* Remover a borda */
    border-radius: 5px; /* Adicionar bordas arredondadas */
    cursor: pointer; /* Alterar o cursor ao passar o mouse */
    transition: background-color 0.1s ease; /* Adicionar transição suave na mudança de cor de fundo */
    margin-right: 15px; /* Ajustar margem à direita */
    margin-left: 110px; /* Ajustar margem à esquerda */
    width: calc(50% - 20px); /* Ajustar largura do botão */
    text-decoration: none; /* Remover sublinhado */
    display: inline-block; /* Garantir que o link se comporte como um bloco */
    text-align: center; /* Centralizar texto */
    line-height: 40px; /* Centralizar verticalmente o texto */
}

.back-to-login-btn:hover {
    background-color: #ffffff; /* Cor de fundo ao passar o mouse */
}

.send-recovery-btn {
    background-color: #4900da;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.send-recovery-btn:hover {
    background-color: #ffffff;
}

.icon-title {
    display: flex;
    align-items: center;
}

.icon-title img {
    width: 100px; /* Ajuste o tamanho do ícone conforme necessário */
    margin-right: 10px; /* Adiciona um espaço entre o ícone e o título */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


