.navbar {
    position: fixed; /* Torna o navbar fixo na página */
    top: 0; /* Alinha o navbar no topo da página */
    left: 100; /* Alinha o navbar no canto esquerdo da página */
    padding: 10px;
    display: flex;
    align-items: center;
}

.navbar img {
    width: 200px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Para manter a proporção */
    margin-right: auto; /* Move o ícone para a esquerda */
}

.navbar-title {
    font-size: 20px;
}

.container-wrapper {
    margin-top: 80px; /* Ajusta o espaço para evitar que o conteúdo fique por baixo do navbar */
}


/* Restante do seu CSS permanece o mesmo */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(to bottom, #4A264A, #40e6cc, #2e004d); /* Gradiente de fundo */
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Adicionando espaço entre os contêineres */
    margin-top: 20px; /* Adicionando espaçamento entre os contêineres */
}

.form-section {
    text-align: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    width: 300px;
}

input {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
}

button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #4900da;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    margin-top: 10px; /* Afastando o botão de cadastrar */
    border-radius: 20px; /* Deixando os botões mais arredondados */
}

button:hover {
    background-color: #ffffff;
    color: #000000; /* Alterando a cor do texto ao passar o mouse */
}
