/* Navbar */
.navbar {
    position: fixed; /* Torna o navbar fixo na página */
    top: 0; /* Alinha o navbar no topo da página */
    left: 0; /* Alinha o navbar no canto esquerdo da página */
    width: 100%; /* Define a largura total */
    padding: 10px;
    background-color: transparent; /* Cor de fundo */
    display: flex;
    align-items: center;
}

.navbar img {
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Para manter a proporção */
    margin-right: auto; /* Move o ícone para a esquerda */
}

.navbar-title {
    font-size: 20px;
    color: #ffffff; /* Cor do texto */
}

.container-wrapper {
    margin-top: 60px; /* Ajusta o espaço para evitar que o conteúdo fique por baixo do navbar */
}

/* Container */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.form-section {
    text-align: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    color: #ffffff; /* Cor do texto */
}

button {
    background-color: #4900da;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3700ad; /* Cor mais escura ao passar o mouse */
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .navbar img {
        width: 120px; /* Reduzindo o tamanho do logo */
    }

    .container {
        flex-direction: column; /* Mudando a direção do flex para coluna */
        align-items: center; /* Centralizando os itens na coluna */
    }

    .form-section {
        width: 90%; /* Ajustando a largura dos formulários */
        max-width: 400px; /* Definindo uma largura máxima */
    }
}

/* Gradiente de fundo */
body {
    background: linear-gradient(to bottom, #4A264A, #40e6cc, #2e004d); /* Gradiente de fundo */
    background-size: cover; /* Cobrir todo o fundo */
    background-attachment: fixed; /* Fixar o gradiente para que não role com a página */
    color: #ffffff; /* Cor do texto */
}

