/* Custom CSS para estilizar a landing page */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%; /* Definindo altura total do viewport */
}

body {
    background-image: url('/Imagens//LimeWire\ AI\ Studio\ Asset.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    background-color: #551658; /* Cor roxa */
    height: 60px; /* Definindo a altura da barra de navegação */
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #fff; /* Cor do texto branca */
}

.navbar-brand img {
    margin-right: 10px; /* Adicionando margem à direita para separar o ícone do texto */
}

.navbar-brand span {
    line-height: 50px; /* Centralizando verticalmente o texto */
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #f8f9fa; /* Cor do texto branca ao passar o mouse */
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    font-size: 56px;
    color: #ffffff;
}

p {
    font-size: 18px;
    color: #ffffff;
}

.btn-primary {
    background-color: #551658; /* Cor roxa */
    border-color: #9777a6; /* Cor da borda */
    font-size: 20px;
}

.btn-primary:hover {
    background-color: #551658; /* Cor roxa mais escura ao passar o mouse */
    border-color: #551658; /* Cor da borda ao passar o mouse */
}

.footer {
    background-color: rgba(52, 58, 64, 0.5); /* Cor de fundo escura com transparência */
    padding: 0px 0; /* Reduzindo totalmente o preenchimento vertical */
    text-align: center;
    color: #fff; /* Cor do texto branco */
    position: fixed; /* Definindo posição fixa */
    bottom: 0; /* Colocando o rodapé na parte inferior */
    width: 100%; /* Definindo a largura do rodapé para ocupar toda a largura da página */
}
