body {
  font-family: Arial, sans-serif;
  background-image: url('/Imagens/background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden; /* Remover barra de rolagem vertical */
}


.navbar {
  background-color: #41203e;
  color: white;
  padding: 4px 0;
  text-align: center;
  font-size: 16px; /* Aumentar o tamanho da fonte da barra de navegação */
}

.navbar .container {
  padding: 10px 0; /* Reduzir o preenchimento superior e inferior */
}


.navbar h2 {
  margin: 0;
}

.return-home {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 900px; /* Reduzir o tamanho máximo do contêiner */
  margin: 0 auto; /* Centralizar o contêiner na tela */
  padding: 40px; /* Manter o espaço interno */
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centralizar horizontalmente o conteúdo */
  margin-bottom: 20px; /* Reduzir a margem inferior */
}

.small-image {
  width: 300px; /* Aumentar o tamanho da imagem */
  height: auto;
  border-radius: 20px; /* Torna as bordas da imagem redondas */
  margin-right: 20px;
}


.small-image:hover {
  transform: rotate(5deg); /* Rotacionar a imagem em 5 graus ao passar o mouse */
  transition: transform 0.3s ease; /* Adicionar transição suave */
}

.additional-text {
  flex-grow: 1;
}

.additional-text:hover {
  font-size: 22px; /* Aumentar o tamanho do texto ao passar o mouse */
  transition: font-size 0.3s ease; /* Adicionar transição suave */
}

.about-text {
  font-size: 20px; /* Aumentar o tamanho do texto adicional */
  line-height: 1.6;
  color: #ffffff; /* Definir cor do texto adicional como branco */
}

.additional-text h2 {
  margin-top: 0;
  margin-bottom: 20px; /* Aumentar a margem inferior */
  color: white; /* Definir cor do título como branco */
}