@import url("https://fonts.googleapis.com/css2?family=Calibri:wght@200;400;500;600;700&display=swap");

:root {
  --primary-color: #2e004d;
  --text-dark: #000000;
  --white: #ffffff;
  --gray: #808080;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Calibri", sans-serif;
  overflow-x: hidden; /* Remove a barra de rolagem horizontal */
}

.header {
  position: relative;
  isolation: isolate;
}

nav {
  position: absolute;
  width: 100%;
  max-width: var(--max-width);
  top: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
}

.nav__logo a img {
  max-width: 150px;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__links li {
  margin-right: 1.5rem;
}

.nav__links a {
  text-decoration: none;
  font-weight: 500;
  color: var(--white);
  transition: color 0.3s;
}

.nav__links a:hover {
  color: #4900da !important;
}

.nav__menu__btn {
  display: none;
}

.about {
  padding: 4rem 1rem;
}

.about__container {
  max-width: var(--max-width);
  margin: 0 auto;
}

.about h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color);
}

.about__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.about__item {
  display: flex;
  flex-direction: column;
}

.about__item img {
  max-width: 100%;
  height: auto;
  border-radius: 50%; /* Deixa a foto redonda */
  transition: transform 0.3s ease; /* Adiciona animação de transição */
}

.about__item img:hover {
  transform: scale(1.1); /* Aumenta a escala da foto ao passar o mouse */
}

.about__item img {
  max-width: 100%;
  height: auto;
  border-radius: 20%; /* Deixa a foto redonda */
  transition: transform 0.3s ease; /* Adiciona animação de transição */
  max-height: 393px; /* Define o tamanho máximo da imagem */
}

.footer {
  padding: 2rem 1rem;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
}

.footer p {
  font-size: 1rem;
}

/* Estilo do botão "Voltar ao site" */
.nav__return {
  padding: 0.5rem 1rem;
  background-color: #2e004d;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav__return a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav__return:hover {
  background-color: #4900da;
}

.nav__return:hover a {
  color: #ffffff;
}

/* Media Query para menu responsivo */
@media screen and (max-width: 768px) {
  .nav__menu__btn {
    display: block;
    cursor: pointer;
  }

  .nav__links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .nav__links.open {
    display: flex;
  }

  .nav__links li {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
