body {
  font-family: Calibri, sans-serif; /* Definindo Calibri como a fonte padrão */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para o navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* Cor de fundo */
  padding: 8px 20px;
}

/* Estilos para o ícone */
.navbar__icon {
  width: 150px; /* Ajuste o tamanho do ícone conforme necessário */
}

/* Estilos para o botão "Voltar à Home" */
.return-home {
  background-color: #2e004d; /* Cor de fundo */
  color: white; /* Cor do texto */
  text-decoration: none;
  padding: 10px 20px; /* Espaçamento interno */
  border: none;
  border-radius: 5px; /* Borda arredondada */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

.return-home:hover {
  background-color: #4900da; /* Cor de fundo ao passar o mouse */
}


/* Estilos para o container principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para o conteúdo */
.content-container {
  display: flex;
  align-items: flex-start; /* Alinhamento ao topo */
  gap: 20px;
}

/* Estilos para o formulário */
.form-container {
  flex: 1; /* Ocupa todo o espaço disponível */
  background-color: #f4f4f4;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: calc(50% - 10px); /* Metade do container - espaço */
}

.form-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  background-color: #2e004d;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #4900da;
}

/* Estilos para a imagem */
.image-container {
  max-width: calc(50% - 10px); /* Metade do container - espaço */
}

.image-container img {
  max-width: 75%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: slideIn 1s ease;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
