body {
  font-family: 'Calibri', sans-serif; /* Define Calibri como fonte padrão */
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #2e004d, #ffffff); /* Gradiente do branco para #4900da */
  min-height: 100vh; /* Faz com que o gradiente cubra a tela inteira */
  overflow-x: hidden; /* Oculta a barra de rolagem horizontal quando necessário */
}

* {
  box-sizing: border-box;
}

/* Estilos para o navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent; /* Fundo transparente para a barra de navegação */
  padding: 8px 20px;
}

/* Estilos para o ícone */
.navbar__icon {
  width: 150px; /* Ajuste o tamanho do ícone conforme necessário */
}

/* Estilos para o botão "Voltar à Home" */
.return-home {
  background-color: #2e004d; /* Cor de fundo */
  color: white; /* Cor do texto */
  text-decoration: none;
  padding: 10px 20px; /* Espaçamento interno */
  border: none;
  border-radius: 5px; /* Borda arredondada */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

.return-home:hover {
  background-color: #4900da; /* Cor de fundo ao passar o mouse */
}

/* Estilos para o container principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para o conteúdo */
.content-container {
  display: flex;
  flex-wrap: wrap; /* Permite que o conteúdo se ajuste em telas menores */
  justify-content: center; /* Centraliza o conteúdo na tela */
  gap: 20px;
}

/* Estilos para o formulário */
.form-container {
  flex: 1; /* Ocupa todo o espaço disponível */
  background-color: transparent; /* Fundo transparente */
  padding: 30px;
  border-radius: 10px;
  max-width: calc(50% - 10px); /* Metade do container - espaço */
  color: white; /* Definindo a cor do texto como branco */
  box-shadow: 0 0 10px rgba(2, 2, 2, 0.3); /* Borda borrada com sombra vermelha semi-transparente */
}

.form-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  background-color: #4900da;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #4900da;
}

/* Estilos para a imagem */
.image-container {
  max-width: calc(50% - 10px); /* Metade do container - espaço */
}

.image-container img {
  max-width: 150%; /* A imagem se ajusta ao tamanho do container */
  height: auto;
  border-radius: 10px;
  animation: slideIn 1s ease;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos para tornar o formulário responsivo */
@media screen and (max-width: 768px) {
  .content-container {
    flex-direction: column; /* Empilha os elementos em telas menores */
    align-items: center; /* Centraliza os elementos na tela */
  }

  .form-container,
  .image-container {
    max-width: 100%; /* Ocupa toda a largura do container pai */
    margin: 0 auto; /* Centralizar os containers */
  }

  .form-container {
    padding: 20px; /* Reduzir o preenchimento do formulário */
    margin-bottom: 20px; /* Adicionar espaço entre o formulário e a imagem */
  }

  .image-container {
    margin-top: 20px; /* Adicionar espaço acima da imagem */
  }

  .image-container img {
    width: 100%; /* Garantir que a imagem ocupe toda a largura do container */
    height: auto; /* Altura automática para manter a proporção */
  }
}
