/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o body */
body {
    overflow-y: hidden; /* Removendo a barra de rolagem vertical */
    font-family: Arial, sans-serif; /* Adicionada a fonte para todos os textos */
}

/* Estilos para a barra de navegação */
.navbar {
    background-color: #41203e;
    color: white;
    padding: 8px;
    text-align: center;
}

.navbar h2 {
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

/* Container principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/Imagens/background.png');
    background-size: cover;
}

/* Container do formulário e imagem */
.content-container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    color: white; /* Texto branco */
}

/* Container do formulário no lado esquerdo */
.form-container {
    flex: 1;
    padding: 20px;
    background-color: #41203e; /* Adicionado fundo branco com transparência */
    height: 100%; /* Altura fixa */
    overflow-y: auto; /* Adiciona barra de rolagem vertical quando necessário */
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container textarea {
    max-width: 100%;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 18px; /* Tamanho da fonte aumentado para 16 pixels */
}


.form-container button {
    width: 100%; /* Largura igual à largura do contêiner */
    padding: 8px;
    font-size: 14px; /* Tamanho da fonte reduzido */
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.form-container button:hover {
    background-color: #0056b3;
}


/* Imagem no lado direito */
.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px; /* Espaçamento entre o botão e a imagem */
}

.image-container img {
    max-width: 107%;
    height: auto;
    border-radius: 5px;
}

/* Estilizando o texto dentro do container */
.content-container p {
    color: white; /* Texto branco */
    margin-bottom: 20px; /* Espaçamento abaixo do texto */
}

