body, html,
.text1,
.text2,
.login-form-title,
.input-form,
.login-form-btn,
a {
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #4A264A, #40e6cc, #2e004d);
}

.container-login img {
width: 350px; /* Ajuste a largura conforme necessário */
}

:root {
    --main-color: #4900da;
    --link-color: #666666;
    --text1: #ffffff;
    --highligth-text: #ffffff;
    --input-text: #ffffff;
    --point-list: #CCCCCC;
    --line-input: #D9D9D9;
  }
  
  * {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  ul, li {
    margin: 0px;
    list-style-type: none;
  }
  
  input, button {
    outline: none !important;
    border: none;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  /*
    Utilitários
  */
  
  .text1 {
    font-size: 15px;
    color: var(--text1);
    line-height: 1.5;
  }
  
  .text2 {
    font-size: 15px;
    color: var(--main-color);
    line-height: 1.5;
  }
  
  .margin-bottom-35 {
    margin-bottom: 35px;
  }
  
  .margin-top-35 {
    margin-top: 35px;
  }
  
  .margin-bottom-8 {
    margin-bottom: 8px;
  }
  
  .margin-top-8 {
    margin-top: 8px;
  }
  
  .margin-left-50 {
    margin-left: 50px;
  }
  
  /*
    Login
  */
  
  .container {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-login {
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;

  }
  
  
  .wrap-login {
    width: 370px;
    margin-right: 50px;
    background: var(--white-color);
  }
  
  /*
    Formulário
  */
  
  .login-form {
    width: 100%;
  }
  
  .login-form-title {
    display: block;
    font-size: 39px;
    color: rgba(255, 255, 255, 0.8); /* Cor branca com 80% de transparência */
    line-height: 1.2;
    text-align: center;
  }
  
  /*
    Input
  */
  
  .wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid var(--line-input);
  }
  
  .input-form {
    font-size: 19px;
    color: var(--input-text);
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 52px;
    background: transparent;
    padding: 0 5px;
  }
  
  .focus-input-form {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .focus-input-form::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background: var(--main-color);
  }
  
  .focus-input-form::after {
    font-size: 18px;
    color: var(--text1);
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 5px;
    transition: all 0.4s;
}

  
  .input-form:focus + .focus-input-form::after {
    top: -20px;
    font-size: 15px;
  }
  
  .input-form:focus + .focus-input-form::before {
    width: 100%;
  }
  
  .has-val.input-form + .focus-input-form::after {
    top: -20px;
    font-size: 15px;
  }
  
  .has-val.input-form + .focus-input-form::before {
    width: 100%;
  }
  
  /*
    Botão
  */
  
  .container-login-form-btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .login-form-btn {
    font-size: 17px;
    color: #ffffff; /* Definir a cor do texto como branco */
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: var(--main-color);
    border-radius: 5px;
    transition: all 0.4s;
    text-decoration: none;
  }
  
  .login-form-btn:hover {
    background-color: var(--highligth-text);
    color: #000000; /* Alterar a cor do texto para preto quando o mouse passar por cima */
  }
  
  
  
  
  /*
   Login
  */
  
  a {
    font-size: 14px;
    line-height: 1.7;
    color: var(--link-color);
    margin: 0px;
    transition: all 0.4s;
  }
  
  a:focus {
    outline: none !important;
  }
  
  a:hover {
    text-decoration: none;
    color: var(--highligth-text);
  }
  
  .login-utils {
    margin-top: 20px;
  }
  
  .login-utils li {
    position: relative;
    padding-left: 16px;
  }
  
  .login-utils li::before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--point-list);
    top: 45%;
    transform: translateY(-50%);
    left: 0;
  }

  .input-password-container {
    display: flex;
    align-items: center;
  }
  
  .password-btn {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #4900da; 
    color: #ffffff; /* Definir a cor do texto como branco */
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease; /* Adicionar transição para a cor de fundo e a cor do texto */
  }
  
  .password-btn:hover {
    background-color: #ffffff;
    color: #000000; /* Alterar a cor do texto para preto quando o mouse passar por cima */
  }
  
 /* Estilos para mensagens de autorização e não autorização */
.mensagem {
  display: none; /* Inicialmente oculto */
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
}

/* Estilos para mensagens de autorização */
.mensagem-autorizado {
  background-color: #4caf50; /* Cor de fundo verde */
  color: white; /* Cor do texto branco */
}

/* Estilos para mensagens de não autorização */
.mensagem-nao-autorizado {
  background-color: #f44336; /* Cor de fundo vermelha */
  color: white; /* Cor do texto branco */
}
