body {
  font-family: 'Cabrini', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f0f0;
}

.logo img {
  width: 150px; /* Aumenta o tamanho do ícone */
  height: 60px; /* Aumenta o tamanho do ícone */
}

.user-info {
  text-align: right;
}

.navbar {
  background-color: #2e004d;
  overflow: hidden; /* Adiciona overflow hidden para ocultar elementos que não cabem na barra de navegação */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #4900da;
}

.container {
  padding: 100px; /* Diminui o padding do container */
}

.pix-requests {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

/* Estilo para a modal de confirmação */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-buttons {
  text-align: center;
}

.modal-buttons button {
  margin: 5px;
  padding: 10px 20px;
}

.modal-buttons button:hover {
  cursor: pointer;
}


