body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.construction {
  text-align: center;
}

.construction img {
  width: 200px; /* Ajuste o tamanho da sua logo conforme necessário */
  margin-bottom: 20px;
}

.title {
  font-size: 48px; /* Tamanho do título aumentado para 48px */
  margin: 10px 0;
}

.message {
  font-size: 24px; /* Tamanho da mensagem aumentado para 24px */
  color: #666;
}

.btn-back {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2e004d;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.btn-back:hover {
  background-color: #4900da;
}
