body {
  font-family: 'Cabrini', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 0;
}

a {
  color: #333;
}

.logout-btn {
  display: inline-block;
  padding: 6px 12px; 
  font-size: 12px; 
  background-color: #ff0000; 
  color: #ffffff; 
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.logout-btn:hover {
  background-color: #cc0000; 
}

.header {
  background: #ffffff;
  color: #000000;
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo img {
  max-height: 60px;
  margin-right: auto;
}

.user-info {
  text-align: right;
}

.navbar {
  background-color: #2e004d;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin: 0 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.pix-requests {
  margin-bottom: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

table td button {
  font-size: 12px;
}

thead {
  background-color: #f2f2f2;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #ffffff;
  margin: 200px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 22%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
  color: #2e004d;
}

.modal-buttons button {
  padding: 10px 20px;
  background-color: #06dd35;
  color: #ffffff;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  border-radius: 10px;
}

.modal-buttons button:hover {
  background-color: #2c9701;
}

#btnCancelar {
  background-color: #ff0800;
}

#btnCancelar:hover {
  background-color: #c9302c;
}

td:last-child .autorizarFornecedorBtn {
  margin-bottom: 25px;
}

/* Adicionando gradiente ao fundo do cabeçalho */
.header {
  background: linear-gradient(45deg, #2e004d, #55008a);
  color: #ffffff;
}

/* Estilo do botão Sair */
.logout-btn {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px; /* Aumentando um pouco o padding para destacar o botão */
  font-size: 14px;
}

/* Estilo do botão Sair no hover */
.logout-btn:hover {
  background-color: #cc0000;
}

/* Estilo da barra de navegação */
.navbar {
  background-color: #55008a;
}

/* Estilo dos links na barra de navegação */
.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px; /* Aumentando o padding para melhorar a usabilidade */
  border-radius: 5px; /* Arredondando as bordas dos links */
  transition: background-color 0.3s ease; /* Efeito de transição suave */
}

/* Estilo dos links na barra de navegação no hover */
.navbar a:hover {
  background-color: #2e004d;
}

/* Estilo do contêiner principal */
.container {
  padding: 40px;
  margin: 20px auto; /* Adicionando um pouco de margem superior e inferior para espaçamento */
  max-width: 1200px;
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
}

/* Estilo do cabeçalho da tabela */
table th {
  background-color: #2e004d;
  color: #ffffff;
}

/* Estilo das células da tabela */
table td {
  background-color: #f2f2f2;
}

/* Estilo dos botões na célula da tabela */
table td button {
  background-color: #55008a;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilo dos botões na célula da tabela no hover */
table td button:hover {
  background-color: #2e004d;
}




