body {
  background-color: #f4f4f4;
  line-height: 1.6;
  margin: 0;
}

.logout-btn:hover {
  background-color: #cc0000; 
}

/* Adicionando gradiente ao fundo do cabeçalho */
.header {
  background: linear-gradient(45deg, #2e004d, #55008a);
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  color: #48ff00;
  justify-content: space-between;
  align-items: center;
}

/* Div que contem */
.user-info {
  margin-right: 100px;  
}


.header .logo img {
  max-height: 60px;
  margin-right: auto;
}

.navbar {
  background-color: #2e004d;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin: 0 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.pix-requests {
  margin-bottom: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #2e004d;
  color: #ffffff;
}

/* Centralizando cada cabeçalho individualmente */
table th:nth-child(1),
table th:nth-child(2),
table th:nth-child(3),
table th:nth-child(4),
table th:nth-child(5),
table th:nth-child(6),
table th:nth-child(7),
table th:nth-child(8) {
  text-align: center;
}

/* Mesma lógica de centralizar */
table td:nth-child(1),
table td:nth-child(2),
table td:nth-child(3),
table td:nth-child(4),
table td:nth-child(5),
table td:nth-child(6),
table td:nth-child(7),
table td:nth-child(8) {
  text-align: center;
}


table td button {
  font-size: 12px;
}

thead {
  background-color: #f2f2f2;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  font-weight: bold;
}

/* Estilos padrão para o modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Estilos para o conteúdo do modal */
.modal-content {
  background-color: #ffffff;
  margin: 20% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 300px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  color: #2e004d;
}

/* Estilos para os botões dentro do modal */
.modal-buttons {
  text-align: center;
  margin-top: 20px;
}

/* Estilo base para botões de modais */
.modal-buttons button {
  padding: 10px 20px;
  background-color: #06dd35; /* Verde para confirmação */
  color: #ffffff;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.modal-buttons button:hover {
  background-color: #2c9701; /* Verde escuro ao passar o mouse */
}

/* Estilo para botão de cancelamento */
.modal-buttons #btnCancelar,
.modal-buttons #btnCancelarAlteracao,
.modal-buttons #btnCancelarAlteracaoPix,
.modal-buttons #btnCancelarValor {
  background-color: #ff0800; /* Vermelho para cancelamento */
}

.modal-buttons #btnCancelar:hover,
.modal-buttons #btnCancelarAlteracao:hover,
.modal-buttons #btnCancelarAlteracaoPix:hover,
.modal-buttons #btnCancelarValor:hover {
  background-color: #c9302c; /* Vermelho escuro ao passar o mouse */
}

td:last-child .autorizarFornecedorBtn {
  margin-bottom: 25px;
}

/* Estilo do botão Sair */
.logout-btn {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 15px 30px; 
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

/* Estilo do botão Sair no hover */
.logout-btn:hover {
  background-color: #cc0000;
}

/* Estilo da barra de navegação */
.navbar {
  background-color: #55008a;
}

/* Estilo dos links na barra de navegação */
.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

/* Estilo dos links na barra de navegação no hover */
.navbar a:hover {
  background-color: #2e004d;
}

/* Estilo do contêiner principal */
.container {
  padding: 40px;
  margin: 30px auto; /* Adicionando um pouco de margem superior e inferior para espaçamento */
  max-width: 1200px;
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
}

/* Estilo do cabeçalho da tabela */
table th {
  background-color: #2e004d;
  color: #ffffff;
}

/* Estilo das células da tabela */
table td {
  background-color: #f2f2f2;
}

/* Estilo dos botões na célula da tabela */
table td button {
  background-color: #55008a;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilo dos botões na célula da tabela no hover */
table td button:hover {
  background-color: #2e004d;
}

.autorizarFornecedorBtn {
  display: block;
  margin: 20px auto 0;
}

/* Estilo base para campos editáveis */
.input-valor, .input-chave-pix {
  background-color: #f9f9f9; /* Fundo claro por padrão */
  border: none; /* Sem borda */
  border-radius: 5px; /* Bordas arredondadas */
  padding: 5px; /* Espaçamento interno */
  transition: all 0.3s ease; /* Transição suave */
}

/* Indica que o campo pode ser editado */
.input-valor:focus, .input-chave-pix:focus {
  border: 1px solid #ff00f7;
  background-color: #ffffff; 
}

/* Quando o campo está em modo de edição (clicado) */
.input-valor.editavel, .input-chave-pix.editavel {
  border: 1px solid #e100ff; 
  background-color: #ffffff; 
}

/* Quando perde o foco, volta ao estado padrão */
.input-valor.editavel:blur, .input-chave-pix.editavel:blur {
  border: 1px solid #ff00f7;
  background-color: #a90296; 
}


@media only screen and (max-width: 600px) {

  .header {
    flex-direction: column; 
    align-items: center; 
    justify-content: center;  
    padding: 5px;  
    position: relative; 
    width: 101%
  }
  

  .user-info {
    margin-right: -11px;  
  }

   body {
    font-size: 14px;  
    
  }

  .header .logo img {
    max-height: 40px;  
  }

  .navbar {
    padding: 5px;  
    width: 101%;  
  }
  .navbar ul {
    width: 100%;  
    display: flex;
    justify-content: center;  
    white-space: nowrap;
  }

  .navbar ul li {
  margin: 5px 0;  
}


  .container {
    padding: 0px;  
    margin: 0px auto;  
    width: 100%;  
  }
  }

  .logout-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10px;
  }


/* Para telas menores que 475px */
@media only screen and (max-width: 475px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 5px;  
    position: relative;
    width: 101%
  }
  

  .user-info {
    margin-right: 0;  
  }

  body {
    font-size: 11px;  
    margin: 0;  
    padding: 0;
  }
  .navbar {
    padding: 5px;  
    width: 101%;  
  }
  .navbar ul {
    width: 100%; 
    display: flex;
    justify-content: center;  
    white-space: nowrap;  
  }

  .navbar ul li {
    margin: 5px 0;  
  }
  

  .container {
    padding: 5px;  
    margin: 0;  
    width: 100%;  
  }
  .logout-btn{
    position: relative;
  align-self: flex-end; 
  font-size: 10px;
  position: absolute;
  top: 10px; 
  right: 10px;
  }
}

/* Estilos para os contêineres dos gráficos */
.charts-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* Estilos para os contêineres individuais dos gráficos */
.canvas-container {
  width: 45%;
  margin-bottom: 20px;
}

@import url('integracao.css');
