body {
  font-family: 'Calibri', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #2e004d, #ffffff);
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 8px 20px;
}

.navbar__icon {
  width: 150px;
}

.return-home {
  background-color: #2e004d;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.return-home:hover {
  background-color: #4900da;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.form-container {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  max-width: calc(50% - 10px);
  color: #2e004d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.form-container input,
.form-container textarea {
  width: calc(100% - 22px); /* Considerando o espaço ocupado pelas bordas */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: calc(100% - 22px); /* Considerando o espaço ocupado pelas bordas */
  min-width: calc(100% - 22px); /* Considerando o espaço ocupado pelas bordas */
  resize: vertical;
}


.form-container #mensagem {
  width: calc(100% - 22px); /* Considerando o espaço ocupado pelas bordas */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: calc(100% - 22px); /* Considerando o espaço ocupado pelas bordas */
  min-width: calc(100% - 22px); /* Considerando o espaço ocupado pelas bordas */
  max-height: 140px; /* Definindo altura máxima */
  min-height: 100px; /* Definindo altura mínima */
  resize: vertical;
}


.form-container button {
  background-color: #2e004d;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #4900da;
}

.image-container {
  max-width: calc(50% - 10px);
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  animation: slideIn 1s ease;
  margin-top: 100px; /* Ajuste na margem superior */
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }

  .content-container {
    flex-direction: column;
    align-items: center;
  }

  .form-container,
  .image-container {
    max-width: 100%;
    margin: 0 auto;
  }

  .form-container {
    padding: 20px;
    margin-bottom: 20px;
  }

  .image-container {
    margin-top: 20px;
  }
}

@media screen and (max-width: 390px) {
  .form-container,
  .image-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
  }

  .image-container img {
    max-width: 100%;
  }
}
